body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px;
background:#020617;
border-bottom:1px solid #1e293b;
}

nav h1{
margin:0;
color:#38bdf8;
font-size:22px;
}

.hero{
text-align:center;
padding:60px 20px;
}

.hero h2{
font-size:40px;
color:#38bdf8;
}

.hero p{
color:#94a3b8;
}

.container{
max-width:1100px;
margin:auto;
padding:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:12px;
text-align:center;
}

.card h3{
color:#38bdf8;
}

.card a{
display:inline-block;
margin-top:10px;
padding:10px 15px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:6px;
font-weight:bold;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:5px;
}

button{
width:100%;
margin-top:10px;
padding:10px;
background:#38bdf8;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

.result{
margin-top:10px;
color:#22c55e;
}

footer{
text-align:center;
padding:30px;
color:#94a3b8;
}
